name: Build and Screenshot Workflow

on:
  pull_request:
    branches: [main]

jobs:
  build-and-screenshot:
    runs-on: ubuntu-latest
    container:
      image: 326takeda/node_with_puppeteer:1.0.0
      options: --user root

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: install puppeteer
        run: yarn add puppeteer

      - name: Start Server
        run: |
          node .next/standalone/server.js &
          sleep 10
          node .ci/scripts/screenshot.js

      - name: Upload Screenshot
        uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: |
            library_HD.png
            talk-with-ai_HD.png
