name: Build and Screenshot Workflow

on:
  pull_request:
    branches: [main]

jobs:
  build-and-screenshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - uses: denoland/setup-deno@main
        with:
          deno-version: "1.28.3"

      - name: Install Japanese fonts
        run: sudo apt-get install -y fonts-noto-cjk
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: install puppeteer
        run: PUPPETEER_PRODUCT=chrome deno run -A --unstable https://deno.land/x/puppeteer@16.2.0/install.ts

      - name: Start Server
        run: |
          yarn start &
          sleep 10
          PUPPETEER_PRODUCT=chrome deno run -A --unstable .ci/scripts/screenshot.js

      - name: Upload Screenshot library
        uses: actions/upload-artifact@v4
        with:
          name: library
          path: library_HD.png
      - name: Upload Screenshot talk-with-ai
        uses: actions/upload-artifact@v4
        with:
          name: talk-with-ai
          path: talk-with-ai_HD.png

  ask-gpt-and-comment:
    needs: build-and-screenshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: library
          path: library

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          architecture: "x64"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: Run the script
        uses: mathiasvr/command-output@v1
        id: run-script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        with:
          run: python .ci/scripts/vision.py library/library_HD.png

      - name: Comment on PR
        uses: actions/github-script@v5
        env:
          RESULT: ${{ steps.run-script.outputs.stdout }}
        with:
          github-token: ${{ secrets.PULL_REQUTST_TOKEN }}

          script: |
            const issue_number = context.issue.number;
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number,
              body: 
            });
